PyQt6==6.6.1
numpy==1.26.3
soundfile==0.12.1
scipy==1.11.4
apscheduler==3.10.4
pytz==2023.3.post1
sounddevice==0.4.6
soundcard==0.4.6
selenium==4.16.0
webdriver-manager==4.0.1
python-dotenv==1.0.0
cryptography==41.0.7
librosa==0.10.1
matplotlib==3.8.2
PyAudio==0.2.14
yt-dlp==2024.4.9
screeninfo==0.8.1
pywin32>=306
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
